<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/golbal.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/scripts/jquery-1.10.2.min.js}"></script>
</head>
<body>
<form id="queryForm" action="./save" method="post">
    <div><input type="text" id="id" name="id" th:value="${user.id} == 0 ? '' : ${user.id}" /></div>
    <div><input type="text" id="name" name="name" th:value="${user.name}" /></div>
    <div><input type="text" id="sex" name="sex" th:value="${user.sex}" /></div>
    <div><input type="text" id="age" name="age" th:value="${user.age}" /></div>
    <div><input type="submit" value="更新"  /></div>
</form>
</body>
</html>